* {
    margin: 0;
    padding: 0;
    font-family: helvetica;
}

section {}

#banner {
    /*width: 100%;*/
    background-image: url(../img/download22222.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline;
    float: left;
    padding: 60px 0;
    width: 100%;
    height: 100vh;
}

#nosotros {
    background-image: url("../img/download155.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline;
    float: left;
    padding: 60px 0;
    width: 100%;
    /*height: 650px;*/
    /*background-color: #19244E;
	padding: 50px 0;
	float: left;
	display: inline;
	width: 100%;*/
    -webkit-transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
}

#publi {
    background-image: url("../img/bgopa.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline;
    float: left;
    padding: 60px 0;
    width: 100%;
    -webkit-transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
}

#servicios {
    width: 100%;
    padding: 70px 0;
    float: left;
    display: inline;
    background: linear-gradient(to right, rgb(251, 231, 97) 0%, rgb(238, 120, 108) 100%);
    -webkit-transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
}

#nospaso {
    width: 100%;
    height: 650px;
    padding: 70px 0;
    float: left;
    display: inline;
    background-color: #F2F2F2;
    -webkit-transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
}

#publi2 {
    background-color: #1A2033;
    padding: 60px 0;
    width: 100%;
    float: left;
    display: inline;
    -webkit-transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
}

#contacto {
    background-image: url("../img/contactanos1.jpg");
    /* background-color: #1A2033; */
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline;
    float: left;
    padding: 60px 0;
    width: 100%;
    /*height: 650px;
	/*background-color: #969696;*/
    -webkit-transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
}

.contactogris {
    /* background-color: rgba(104, 102, 96, 0.5); */
    display: inline;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    /*padding: 10px 20px 10px;*/
    width: 100%;
    margin-bottom: 5px;
}

.contactogris h2 {
    color: #fff;
    font-size: 38px;
    margin-bottom: 0px;
    text-align: center;
}

.contactogris p {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

#footer {
    width: 100%;
    /*height: 450px;*/
    padding: 20px 0;
    float: left;
    display: inline;
    background-color: #2F2F2F;
}

.site-footer {
    padding-top: 10px;
    color: #fff;
    border-top-color: #fff;
}

.footer-bottom {
    display: inline;
    border-top: 2px solid #9e9898;
    float: left;
    padding: 5px 0;
    width: 100%;
    text-align: center;
}

.footer-bottom p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 0px;
    text-align: center;
}

.site-footer h1 {
    font-size: 20px;
    text-align: center;
}

img {
    border: none;
    display: flex;
    margin: 0 auto;
}

.imgfooter {
    border: none;
    display: contents;
    margin: 0 auto;
    height: 50px;
    width: 50px;
}

header {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: transparent;
    -webkit-transition: background-color .5s;
    z-index: 2;
    top: 0px;
}

nav {
    margin: auto;
    margin-top: 0px;
    height: 40px;
    -webkit-transition: margin-left .5s;
}

ul {
    display: block;
    float: left;
    list-style: none;
}

ul li {
    float: left;
    margin: 10px;
    padding: 2px;
}

ul a {
    color: #F3F3F3;
    /*text-decoration: none;*/
}

img#logo {
    float: left;
    display: block;
    margin-left: 30px;
    /*margin-right: 500px;*/
    margin-top: 150px;
    -webkit-transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
}


/*--------------------*/


/* efectos */


/*--------------------*/

.title-area {
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 28px;
    text-align: center;
    color: #5B5B5B;
}

.title-area p {
    /*color: #5B5B5B;*/
    font-size: 18px;
    margin-bottom: 0px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Magra', sans-serif;
}

.title {
    margin-top: 10px;
}

.tittle>span {
    color: #007ACC;
}

h2.tittle {
    /*color: #fff;*/
    /*color: #5B5B5B;*/
    font-size: 40px;
    font-family: 'Righteous', cursive;
}

.tittle-line {
    background-color: #ff1637;
    display: inline-block;
    height: 3px;
    margin-bottom: 16px;
    width: 60px;
}

.color {
    background-color: red;
}

.color1 {
    background-color: green;
}

.diseñoCreativo {
    font-size: 18px;
    margin-bottom: 0px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-defaultt {
    color: #fff;
    background-color: none;
    border-color: #fff;
    overflow: hidden;
    font-weight: 600;
    /*font-size: 15px;*/
}

.btn-defaultt.focus {
    color: #333;
    background-color: #fff;
    border-color: #8c8c8c;
}

.btn-defaultt:hover {
    color: #333;
    background-color: #fff;
    border-color: #fff;
}

.btncenter {
    padding-top: 25px;
}

.colorB {
    color: #fff;
    font-family: 'Magra', sans-serif;
}

.colorAz {
    color: #fff;
}

.colorGr {
    color: #000;
}

.icoSer {
    /*padding-top: 25px;*/
    position: relative;
    text-align: center;
    /*height: 56px;
width: 80px;*/
    margin-left: 20px;
}

.icoSel {
    /*padding-right: : 20px;
padding-left: : 20px;
padding-top: 25px;*/
    position: relative;
    text-align: center;
    margin-right: 20px;
    /*height: 56px;
width: 80px;*/
}


/*
.media-bodyr {
  width: 10000px;
  padding-right: 20px;
}
.media-bodyl {
  width: 10000px;
  padding-left: 20px;
}

*/

.media-heading {
    font-family: 'Josefin Sans', sans-serif;
}

.media-body p {
    font-family: 'Magra', sans-serif;
}

.triangulo {
    background: #4ddbc0;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
    float: right;
}

.circulo span {
    border-radius: 100%;
    display: inline-block;
    /*font-size: 35px;*/
    height: 100px;
    line-height: 100px;
    text-align: center;
    width: 100px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border: 1px solid #fff;
    color: #fff;
}

.circulo:hover .wc-icon {
    color: #05273E;
}

.circulo:hover .wc-icon {
    background-color: #fff;
}

.fondoTransparente {
    background-color: rgba(255, 0, 0, 0.5);
}